*{
	padding: 0;
	margin: 0;
}
body{
	background-color: black;
}
#imgs{	
	 -webkit-user-select: none; /* Safari */
  	-ms-user-select: none; /* IE 10 and IE 11 */
  	user-select: none; /* Standard syntax */
	position: absolute;
	transform: translateX(-50%);
	left: 50%;
	width: 80%;
}
#item{
	  -webkit-user-select: none; /* Safari */
 	 -ms-user-select: none; /* IE 10 and IE 11 */
 	 user-select: none; /* Standard syntax */
	margin-top: 10%;
	width: 100%;
}
